/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

img {
  width: 95%;
  margin-bottom: 20px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  width: 100%;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  width: 100%;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.horizontal-to-vertical {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  form { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .horizontal-to-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  form button {
    width: 140px;
  }

  form select,
  form input {
    margin-bottom: 0;
  }

  .horizontal-media, 
  #host {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .horizontal-media img {
    max-width: 300px;
    margin-right: 20px;
  }

  #photo-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .half-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
